<div class="fixed-width">
  <div class="top-fixed-bar">
    <div class="header">
      <div class="">
        <div class="">
          <a routerLink="/"
            ><i class="fa fa-chevron-left float-left" aria-hidden="true"></i
          ></a>
          <div class="info-text pl-4">Menu And Order</div>
        </div>
      </div>
    </div>
    <div class="aspect-bar p-2">
      <div class="row">
        <div class="col">
          Revolister
        </div>
        <div class="col">
          <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <div class="col">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" role="alert">
      We're closed now but you can pre-order for later.
    </div>
  </div>
  <form class="deliver-order">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-delicious" aria-hidden="true"></i> Delivery
          fees</label
        >
        <span class="deliver-text">Min - £17.00, Fee - £3.00</span>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""> Opening Hours</label>
        <span class="deliver-text">Tuesday - Saturday</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-clock-o" aria-hidden="true"></i> Delivery</label
        >
        <span class="deliver-text">Same as opening hours</span>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-shopping-bag" aria-hidden="true"></i> Pickup</label
        >
        <span class="deliver-text">Same as opening hours</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fas fa-chair" aria-hidden="true"></i>Table
          reservation</label
        >
        <span class="deliver-text">Same as opening hours</span>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""> Order ahead</label>
        <span class="deliver-text">Same as opening hours</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-language" aria-hidden="true"></i> Languages</label
        >
        <select class="form-control" id="exampleFormControlSelect1">
          <option>English</option>
          <option>Hindi</option>
          <option>Punjabi</option>
          <option>urdu</option>
          <option>spanish</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Payment
          Method</label
        >
        <ul class="pay-method">
          <li>Cash</li>
          <li>Card to delivery person ( Pickup, Order Ahead )</li>
          <li>Call back and take card details via phone</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class=""
          ><i class="fa fa-address-book" aria-hidden="true"></i> Address</label
        >
        <span class="">46 welford Road, Leicester LE2 7AA </span>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <label class="">
          <i class="fa fa-phone" aria-hidden="true"></i>Phone</label
        >
        <ul>
          <span class="deliver-text">123 456 789</span>
        </ul>
      </div>
    </div>
  </form>
</div>
