<div class="fixed-width">
  <div class="top-fixed-bar"></div>
  <div class="header">
    <div class="">
      <div class="">
        <a routerLink="/"
          ><i class="fa fa-chevron-left float-left" aria-hidden="true"></i
        ></a>
        <div class="info-text pl-4">Customer Feedback</div>
      </div>
    </div>
  </div>
  <div class="aspect-text">
    Raviolis
  </div>
  <div class="feedback-form">
    <h4>Customer Feedback</h4>
    <p>Leave your fedback nd tell us what you thought</p>
    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="form-group">
            <label class="calender-label" for="birthday">Date of Visit</label>
            <input
              class="cali-field"
              type="date"
              id="birthday"
              name="birthday"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >How would rate our service</label
            >
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Please select</option>
              <option>Poor</option>
              <option>Good</option>
              <option>Excellent</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >How would rate the rate of quality of food</label
            >
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Please select</option>
              <option>Poor</option>
              <option>Good</option>
              <option>Excellent</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="form-group">
            <label for="exampleFormControlTextarea1"
              >Plesae help any other feedback that improve our services</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>
