<div class="fixed-width">
  <div class="top-fixed-bar">
    <div class="header more-header">
      <!-- <div class="">
        <a routerLink="/"
          ><i class="fa fa-chevron-left float-left" aria-hidden="true"></i
        ></a>
        <div class="info-text">more</div>
        <div class=" float-right">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div> -->
      <div class="">
        <div class="">
          <a routerLink="/"
            ><i
              class="fa fa-chevron-left float-left"
              aria-hidden="true"
              style="width: 33.1%;"
            ></i
          ></a>
        </div>
        <div class="">
          <span class="info-text float-left" style="width: 33.1%;">More </span>
        </div>
        <div class="">
          <i class="fa fa-search float-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="more-item">
     

     

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/review">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="more-text"> Reviews</span></a
        >
      </div>

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/gallery">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
          <span class="more-text"> Gallery</span></a
        >
      </div>

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/media">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <span class="more-text"> Social Media</span></a
        >
      </div>

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/feedback">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <span class="more-text"> Customer Feedback</span></a
        >
      </div>

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/notification">
          <i class="fa fa-bell-o" aria-hidden="true"></i>
          <span class="more-text"> Notification</span>
        </a>
      </div>

      <div class="border-row pb-3">
        <a class="nav-link" routerLink="/newsletter">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span class="more-text"> Join Newsletter</span></a
        >
      </div>
    </div>
  </div>
</div>
