<div class="fixed-width">
  <div class="header">
    <div class="">
      <div class="">
        <a routerLink="/"
          ><i class="fa fa-chevron-left float-left" aria-hidden="true"></i
        ></a>
        <div class="info-text pl-4">About Us</div>
      </div>
    </div>
  </div>

  <div class="aspect-text">
    Raviolis
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKrQcrzflqd6zfXnvYV6mZBrUJ8gPImcsmxA&usqp=CAU"
      />
    </div>
    <div class="col-md-12 col-sm-12 col-lg-6">
      <p>
        In the popular village of ravioli, on the outskirts of Leicester city
        centre, Aspects is a fantastic fusion restaurant combining the very best
        of Authentic Fine Indian Cuisine along with British cuisine(Lunch time
        only). A La carte fine dining is served in a elegant newly refurbished
        restaurant giving you a experience of Dining in India is served in the
        newly launched dining area giving you the experience and feel of being
        on Indian streets.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">
      <p>
        The restaurant is bright and attractive, with a style where traditional
        and contemporary features are blended. The stylish exposed red brickwork
        wall gives the restaurant a kick of colour and design, contrasted with
        the elegant and neutral exposed wooden ceiling beams. The restaurant is
        spacious but cosy, giving it a fantastic atmosphere of an evening and
        allowing for a sociable, buzzing environment ideal for groups,
        celebrations and catching up with friends. Or perhaps choose a quieter
        part of the restaurant to sit and the excellent food and wonderful
        customer service top off a fantastic choice of restaurant for a romantic
        or intimate meal.
      </p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-6">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKrQcrzflqd6zfXnvYV6mZBrUJ8gPImcsmxA&usqp=CAU"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-6">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKrQcrzflqd6zfXnvYV6mZBrUJ8gPImcsmxA&usqp=CAU"
      />
    </div>

    <div class="col-md-12 col-sm-12 col-lg-6">
      <p>
        TAt lunch time, the Express Lunch menu is a firm favourite for flavour
        and affordability. Enjoy a flavoursome Indian Platter serving two people
        with tandoori chicken, chicken tikka, lamb tikka and seekh kebab, all
        served alongside rice or naan, curry dips and fresh salad. There’s a
        fantastic variety of baguettes, wraps and jacket potatoes available too,
        such as cheese and beans, Cajun chicken or prawns in a marie rose sauce.
        Of an evening, choose from the fantastic Indian A La Carte menu. To
        start, choose something bursting with flavour such as garlic mushrooms,
        cooked with a blend of spices and finely chopped chillies, followed by
        one of the chef’s specialities such as a Karai Chicken curry, cooked
        with tomatoes, coriander and crunchy peppers. All the favourites are on
        the menu too, including Mutter Paneer, a dish of cubed cottage cheese
        cooked in green peas.
      </p>
    </div>
  </div>
</div>
