.aspect-text {
  text-align: center;
  padding: 6% 6%;
  color: #21425b;
  font-size: 50px;
  border-radius: 50%;
  border-bottom: 14px solid;
}

.info-description {
  color: #21425b;
  padding-top: 20px;
}

/* 
.top-fixed-bar {
  position: fixed;
  width: 64%;
  top: 0%;
  overflow: hidden;
} */

.info-footer {
  border: 1px solid #ccc;
  background-color: #21425b;
  padding: 12px;
  color: #fff;
}

.aspect-bar {
  background: #ccc;
}

.alert-warning {
  background-color: #edd31cdb !important;
  color: #000;
}

.btn-block.btn-link {
  color: #000 !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.btn-block.btn-link:hover {
  text-decoration: none;
}

.fa.fa-search:before {
  color: #fff;
  font-size: 18px;
}

.border-row {
  border: 1px solid #ccc;
  padding: 3%;
  padding-bottom: 5%;
}

.border-row .fa:before {
  color: #000;
  font-size: 18px;
}

.img-food img {
  object-fit: contain;
  width: 256px;
  height: 229px;
}

.spacer10 {
  height: 20px;
}

.feedback-form, .join-newsletter {
  background: #21425b;
  padding: 20px;
  color: #fff;
}

.topnav .navbar {
  border: 1px solid #ccc;
  background-color: #21425b;
}

.topnav .fa:before {
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}

.contain-width {
  max-width: 900px !important;
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #D6E3F0;
  padding: 0.25rem;
}