<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div>
    <div class="container contain-relative">
      <!-- <div *ngIf="showModal" class="transparent_box">
        <div class="modal-content innermodal">
          <div class="modal-body text-center">
            <p class="text-revol">
              "Reviolister" Would like to send you notification
            </p>
            <p class="smal-txt">
              Notification may include alerts,sounds and icon badges. These can
              be configured in Settings
            </p>
          </div>
          <div
            class="modal-footer push-footer d-flex justify-content-space-around border-0"
          >
            <button
              type="button"
              class="btn btn-secondary btn-note"
              (click)="hide()"
            >
              Notifyme
            </button>
            <button
              (click)="hide()"
              type="button"
              class="btn btn-primary btn-tnakns"
            >
              No Thanks
            </button>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-3">
          <div class="sidenav">
            <ul>
              <li>
                <a class="nav-link" routerLink="/">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <span class="user-text">Home</span></a
                >
              </li>
              <li>
                <a class="nav-link active" routerLink="/info">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span class="user-text pl-4">Info</span></a
                >
              </li>

              <li>
                <a class="nav-link" routerLink="/about"
                  ><i class="fa fa-user-o" aria-hidden="true"></i>
                  <span class="user-text">About Us</span>
                </a>
              </li>
              <li>
                <a
                  class="nav-link"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                >
                  <i class="fa fa-cutlery" aria-hidden="true"></i>
                  <span class="user-text">Menu and Order</span></a
                >
              </li>
              <li>
                <a class="nav-link" routerLink="/review">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <span class="user-text">Reviews</span></a
                >
              </li>
              <li>
                <a class="nav-link" routerLink="/gallery">
                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                  <span class="user-text">Gallary</span></a
                >
              </li>
              <li>
                <a class="nav-link" routerLink="/media">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  <span class="user-text">Social Media</span></a
                >
              </li>

              <li>
                <a class="nav-link" routerLink="/feedback">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  <span class="user-text">Customer Feedback</span></a
                >
              </li>
              <li>
                <a class="nav-link" routerLink="/notification">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  <span class="user-text">Notification</span>
                </a>
              </li>
              <li>
                <a class="nav-link" routerLink="/newsletter">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <span class="user-text">Join Newsletter</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div
          class="modal fade"
          id="exampleModalLong"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLongTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header header">
                <a routerLink="/home"
                  ><i
                    class="fa fa-chevron-left float-left"
                    aria-hidden="true"
                  ></i
                ></a>
                <h5 class="modal-title float-left" id="exampleModalLabel">
                  Menu and Order
                </h5>
                <button
                  type="button"
                  class="close float-right"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="padding: 0;">
                <iframe
                  src="https://www.foodbooking.com/ordering/restaurant/menu?restaurant_uid=63e0c53c-2a5c-4e52-a32a-8cb49a458f0a&client_is_mobile=true&glfa_cid=574196014.1555701256&glfa_t=1555707158912"
                  style="border: none; margin: 0 auto -30px;"
                  height="500px"
                  width="100%"
                  title="Iframe Example"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 resp-p">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</body>
