<div class="fixed-width">
  <div class="header">
    <div class="row">
      <div class="col-md-3 col-lg-4 col-sm-4">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="col-md-3 col-lg-4 col-sm-4"><div class="info-text pl-4">Settings</div></div>

      <div class="col-md-3 col-lg-4 col-sm-4"></div>
    </div>
  </div>
  <div class="buttons">
    <button type="button" class="btn btn-primary email-btn d-block mb-2">
      <i class="fa fa-envelope-o" aria-hidden="true"></i> SignUp with email
    </button>
    <button type="button" class="btn btn-primary fb-btn d-block mb-2">
      <i class="fa fa-facebook" aria-hidden="true"></i> SignUp with facebook
    </button>
    <button type="button" class="btn btn-primary twitter-btn d-block mb-2">
      <i class="fa fa-twitter" aria-hidden="true"></i>SignUp with TWitter
    </button>
    <button type="button" class="btn btn-primary google-btn d-block">
      <i class="fa fa-google" aria-hidden="true"></i> SignUp with Google
    </button>
    <p class="text-center pt-4">Have an account log in?</p>
  </div>
</div>
