<div class="sidenav responsive-sidenav d-none"></div>
<div class="fixed-width">
  <div class="top-fixed-bar">
    <div class="header">
      <div class="">
        <div class="">
          <a routerLink="/"
            ><i class="fa fa-chevron-left float-left" aria-hidden="true"></i
          ></a>
          <div class="info-text pl-4">Settings</div>
        </div>
      </div>
    </div>

    <div class="review-section">
      <span class="f12">Account</span>
      <div class="border-row pb-3">
        <div class="">
          <i class="fa fa-user-circle" aria-hidden="true">
            <span class="pl-3">SignUp OR LOgin</span></i
          >
          <a routerLink="/signup">
            <i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <span class="f12">About</span>
      <div class="border-row">
        <div class="">
          <div class="fb-ico">
            <span class="pl-3 float-left">Privacy Policy</span>
          </div>
          <a routerLink="/signup">
            <i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
