<div class="fixed-width">
  <div class="top-fixed-bar">
    <div class="header">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-sm-4">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="col-md-3 col-lg-4 col-sm-4"><div class="info-text pl-4">Settings</div></div>

        <div class="col-md-3 col-lg-4 col-sm-4"></div>
      </div>
    </div>

    <div class="review-section">
      <span class="f12">Account</span>
      <div class="border-row">
        <div class="row">
          <div class="col-md-8">
            <div class="fb-ico">
              <i class="fa fa-sign-in" aria-hidden="true">
                <span class="pl-3">SignUp OR LOgin</span></i
              >
            </div>
          </div>
          <div class="col-md-4">
            <a routerLink="/signup">
              <i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <span class="f12">About</span>
      <div class="border-row">
        <div class="row">
          <div class="col-md-8">
            <div class="fb-ico">
              <i class="fa fa-tripadvisor" aria-hidden="true"></i
              ><span class="pl-3">Privacy Policy</span>
            </div>
          </div>
          <div class="col-md-4">
            <a href=""
              ><i
                class="fa fa-chevron-right float-right"
                aria-hidden="true"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
